<% unless @song.errors.empty? %>
$('.playlist').html('no result');
alert('oikok');
<% else %>
var html = '<div class="upcoming-songs">'
    + '<p><%= @song.name %></p>'
    + '</div>';
$('.playlist-items').append(html);
<% end %>