<% if @results.empty? %>
  $('.playlist-container').html('no result');
  alert('oikok');
<% else %>
  <% @results.each do |result| %>
    html = '<div class="thumbnail">'
           + '<img class="image-rounded" src="http://img.youtube.com/vi/<%= result.video_id.split(//).last(11).join %>/1.jpg"></img>'
           + '<p><%= result.title%></p>'
           + '<a href=""></a>'
           + '</div>'
    $('.search-song-result').append(html);

  <% end %>
<% end %>