@import "bootstrap-sprockets";
@import "bootstrap";

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 2px solid #1a2e37;
  border-radius: 0px;
  background-color: #4a849f;

  h1 {
    color: #fff;
    font-family: "Gotham-Bold", sans-serif;
  }
}