// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#group {

  .group-name {
    color: #fff;
    padding-top: 45px;
  }
}

h2 {
  text-align: left;
  margin-bottom: 30px;
  font-family: "Helvetica-Bold", sans-serif;
  color: #fff;
}

.playlist-container {
  max-width: 300px;
}

.playlist-item {
  * {
    display: inline-block;
  }
}

.playlist-item {
  border-bottom: 1px solid #EBE6E6;

  .video-preview {
    margin: 15px 75px 15px 0;;
  }
}

.video-player-wrapper > h1 {
  margin-bottom: 15px;
}

#ytPlayer {
  margin-top: 15px;
}

.title {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  margin-right: 40px;
}

.upvote span {
  margin-right: 15px;
  * {
    color: #DDDDDD;
  }
}

.upvote .views-count {
  margin-left: 6px;
}

.playlist-wrapper {
  padding: 55px 75px 75px 75px;

  h1 {
    font-family: "HelveticaNeue-Light", sans-serif;
    margin-bottom: 15px;
    color: #fff;
  }
}

.search-song-result-wrapper {
  .form-control {
    margin-bottom: 15px;
  }
  p:first-child {
    margin-top: 50px;
    font-size: 16px;
    font-family: "HelveticaNeue-Light", sans-serif;
  }
}

.search-song-result {
  .thumbnail {
    border: none;
    overflow: hidden;
    position: relative;
    margin-bottom: 5em;
  }

  .thumbnail > a {
    font-size: 16px;
    font-family: "HelveticaNeue-Light", sans-serif;
  }
  .thumbnail > img {
    display: inline-block;
    margin: 0 20px 15px 0;
  }
  .thumbnail > p {
    float: right;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    margin-bottom: 15px;
    border-bottom: 1px solid #223c48;
  }

  .thumbnail a > img {
    right: 0;
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}